nav {
  display: flex;
  min-height: 10vh;
  justify-content: space-around;
  align-items: center;

  button {
    background-color: transparent;
    border: 2px solid rgb(65, 65, 65);
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: rgb(65, 65, 65);
      color: white;
    }

    svg {
      margin-left: 0.2rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
    padding: 0 1rem;

    button {
      z-index: 10;
    }
  }
}
